.dashboard {
  background-color: var(--color-dark--2);
  display: flex;
  flex-direction: column;

  background-color: rgb(26, 8, 46);

  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 430px) {
  .dashboard {
    background-color: var(--color-dark--2);
    display: flex;
    flex-direction: column;

    background-color: rgb(26, 8, 46);
    align-items: center;
    /* height: 100; */
    overflow-x: hidden;
    width: 430px;
    padding: 0px;
  }
}
