.dashboard {
  background-color: var(--color-dark--2);
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(26, 8, 46);

  width: 500px;
}

@media (max-width: 430px) {
  .dashboard {
    background-color: var(--color-dark--2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(26, 8, 46);

    width: 500px;
  }
}
