.feeds-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feeds {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;

  color: rgb(112, 38, 190);
}
.gpost {
  border-radius: 8px;
  height: 200px;
  width: 100%;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul li {
  width: 100%;
}

.btns {
  display: flex;
  justify-content: right;
  width: 100%;
}
.p-prof {
  display: flex;
  gap: 10px;
}
.p-prof img {
  border-radius: 8px;
  height: 30px;
  width: 30px;
}
.gpost {
  width: 100%;
  background-color: rgb(102, 82, 123);
}
