header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header {
  background-color: var(--color-brand--1);
  color: var(--color-light--3);
}

header nav ul li:first-child {
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 10px;
}
header {
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav ul li img {
  border-radius: 80%;
}
